body {
    /*height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;*/
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #8b1f1f;
}

.parallax {
    /*position: relative;
    background-image:  url("../img/parallax_index.jpg");
    height: 100%;
    opacity: 0.65;
    background-attachment: fixed; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; */

    position: relative;
    background: rgba(255, 240, 165);
    opacity: 0.4; /* Cor de fundo amarela com 40% de opacidade */
    background-image: url("../img/parallax_index.jpg"); /* Imagem de fundo */
    background-position: center; /* Posição da imagem de fundo */
    background-size: cover; /* Tamanho da imagem de fundo */
    background-attachment: fixed; /* Fixar a imagem de fundo */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


}
