body {
    /*height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;*/
    color: rgba(233, 71, 17, 0.557);
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    
    background-color: #fff6cccf;
}

.fundo_index {
    /*position: relative;
    background-image:  url("../img/parallax_index.jpg");
    height: 100%;
    opacity: 0.65;
    background-attachment: fixed; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; */

    position: relative;
    background: rgb(255, 249, 216);
    background-image: url("../img/fundo_index.png"); /* Imagem de fundo */
    background-position: center; /* Posição da imagem de fundo */
    background-size: cover; /* Tamanho da imagem de fundo */
    background-attachment: fixed; /* Fixar a imagem de fundo */
    height: 100vh;
    display: flex;
}

#logo {
    position: absolute;
    top: 2%;
    left: 1%;
    width: 35.9%;
    height: 18%;
}

#direitos_do_site{
    position: absolute;
    top: 8%;
    right: 36.5%;
     
}

#sobre_a_autora {
    position: absolute;
    top: 8%;
    right: 20%;
}

#fale_conosco{
    position: absolute;
    top: 8%;
    right: 5%;
}

#turismo {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 20%;
    height: 43.5%;
}

#historia{
    position: absolute;
    top:50%;
    left:40%;
    width: 20%;
    height: 43%;
}

#educacao {
    position: absolute;
    top: 50%;
    right: 5%;
    width: 20%;
    height: 43%;
}

.fundo_historia {
    position: relative;
    background: rgb(255, 249, 216);
    background-image: url("../img/fundo_historia.jpg"); /* Imagem de fundo */
    background-position: center; /* Posição da imagem de fundo */
    background-size: cover; /* Tamanho da imagem de fundo */
    background-attachment: fixed; /* Fixar a imagem de fundo */
    height: 100vh;
    display: inline-block;
    justify-content: center;
}

#titulo_historia {
    position: absolute;
    top: 5%;
    left: 33%;
    width: 30%;
    height: 35%;
    align-items: center;
}

#paragrafo_historia {
    font-size: 17.3px;
    padding: 30px;
    margin-top: 290px;
    margin-right: 50px;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgba(133, 92, 78, 0.703);
    text-align: justify;
}

#seta {
    position: absolute;
    top: 5%;
    left: 2%;
    width: 3.7%;
}

.fundo_educacao {
    background-color: #53492C;
    border:1px solid #53492C;
    margin-top: 14%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    border-radius: 30px;

}

#titulo_educacao {
    position: absolute;
    top: 3%;
    left: 37%;
    width: 27%;
    height: 25%;
    align-items: center;
    
}

#educacao_florestal {
    position: absolute;
    top: 40%;
    left: 17%;
    width: 66%;
    height: 85%;
}

#educacao_ifpr {
    position: absolute;
    top: 135%;
    left: 17%;
    width: 66%;
    height: 85%;
}

#educacao_unicentro {
    position: absolute;
    top: 230%;
    left: 17%;
    width: 66%;
    height: 85%;
}

#educacao_demais {
    position: absolute;
    top: 325%;
    left: 17%;
    width: 66%;
    height: 85%;
}
.final {
    
    margin-top: 232.5%;
    
}

.voltar_topo {
    position: fixed;
    left: 90%;
    top: 80%;

}

#titulo_turismo {
    position: absolute;
    top: 1px;
    left: 34%;
    width: 33%;
    height: 52%;
}

.fundo_turismo {
    background-color: white;
    border:1px solid #53492C;
    margin-top: 17.6%;
    margin-left: 18%;
    margin-right: 18%;
    border-radius: 25px;
}

.final_pagina {
    margin-top: 239%;
}

#turismo_santa {
    position: absolute;
    top: 44%;
    left: 20%;
    width: 60%;
    height: 75%;
}

#turismo_museu {
    position: absolute;
    top: 129%;
    left: 20%;
    width: 60%;
    height: 75%;
}

#turismo_parque {
    position: absolute;
    top: 214%;
    left: 20%;
    width: 60%;
    height: 75%;
}
#turismo_anila {
    position: absolute;
    top: 299%;
    left: 20%;
    width: 60%;
    height: 75%;
}






